<div class = "doc">
  <header>
      <div id = "page_banner">
        <%= link_to image_tag("banner_2.png"), posts_path %>
      </div>
  </header>

  <div class = "main_drawing">
    <img id = "sketch" src="assets/krakow_sketch.jpg" alt="Rynek">
  </div>

  <div class = "content">
    <div class = "container">
      <div class = "categories">

        <div id = "old_town" class = "category_icon">
          <img src="assets/stary_krakow_final_mini.jpg" alt="Stary Kraków">
          <img id = "old_town_desc" class = "description" src="assets/old_town_desc.png" alt="Stary Kraków">
        </div>

        <div id = "parks" class = "category_icon">
          <img src="assets/parki_final_mini.jpg" alt="Parki">
          <img id = "parks_desc" class = "description" src="assets/parks_desc.png" alt="Parki">
        </div>

        <div id = "new_smelter" class = "category_icon">
          <img src="assets/nowa_huta_final_mini.jpg" alt="Nowa Huta">
          <img id = "new_smelter_desc" class = "description" src="assets/new_smelter_desc.png" alt="Nowa Huta">
        </div>

        <div id = "offices" class = "category_icon">
          <img src="assets/biurowce_final_mini.jpg" alt="Biurowce">
          <img id = "offices_desc" class = "description" src="assets/offices_desc.png" alt="Biurowce">
        </div>

        <div id = "modern_architecture" class = "category_icon">
          <img src="assets/nowoczesna_architektura_final_mini.jpg" alt="Nowoczesna Architektura">
          <img id = "modern_architecture_desc" class = "description" src="assets/modern_architecture_desc.png" alt="Nowoczesna Architektura">
        </div>

        <div id = "beside_krakow" class = "category_icon">
          <img src="assets/poza_krakowem_final_mini.jpg" alt="Poza Krakowem">
          <img id = "beside_krakow_desc" class = "description" src="assets/beside_krakow_desc.png" alt="Poza Krakowem">
        </div>
      </div>

      <div class = "posts">
          <div class = "last_post">
            <div class = "post_date">
                26.02.2015
            </div>

            <div class = "post_title">
                Pierwszy post
            </div>

            <div class = "post_text">
              Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz
              pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
              zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach.
            </div>

            <div class = "post_more">
                więcej...
            </div>
          </div>

        <div class = "recent_posts">
          <div class = "recent_post_date">
            26.02.2015
          </div>

          <div class = "recent_post_title">
            Pierwszy post
          </div>

          <div class = "recent_post_date">
            26.02.2015
          </div>

          <div class = "recent_post_title">
            Pierwszy post
          </div>

          <div class = "recent_post_date">
            26.02.2015
          </div>

          <div class = "recent_post_title">
            Pierwszy post
          </div>

          <div class = "recent_post_date">
            26.02.2015
          </div>

          <div class = "recent_post_title">
            Pierwszy post
          </div>

          <div class = "recent_post_date">
            26.02.2015
          </div>

          <div class = "recent_post_title">
            Pierwszy post
          </div>

          <div class = "recent_post_date">
            26.02.2015
          </div>

          <div class = "recent_post_title">
            Pierwszy post
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
        created by Marcin Szot
  </footer>
</div>